<nb-card>
    <nb-card-body class="example-items-col">
                 
            <h6>Employee Logs</h6>
            <br>
            <nb-icon icon="edit-2-outline" class="Iconic"></nb-icon>
            <div class="wrapp">
                <div class="searcher">
                   <input type="text" class="searcherTerm" placeholder="search...">
                   <button type="submit" class="searcherButton">
                     <i class="fa fa-search"></i>
                  </button> 
                  </div>
              </div> 
            <br>
            <br>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Emp ID</th>
        <th scope="col">Login Time</th>
        <th scope="col">Logout Time</th>
        <th scope="col">failed log-in</th>
        <th scope="col">total attempts</th>
        <th scope="col">Break time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>

</nb-card-body>
</nb-card>
