<div class="steppers-container row">
    <nb-card class="col-md-12 col-lg-10 col-xxxl-10">
        <nb-card-body>
        <div class="row">  
          <div class="wrap">
            <div class="search">
               <input type="text" class="searchTerm" placeholder="search using a/c no">
               <button type="submit" class="searchButton">
                 <i class="fa fa-search"></i>
              </button> 
              <p class="activepng">active<img class="onlineIcon" src="assets/images/onlineIcon.png" alt="online"/></p>
              <p class="holdpng">idle<img class="onlineIcon" src="assets/images/blue.png" alt="hold"/></p>
              <p class="inactivepng">Inactive<img class="onlineIcon" src="assets/images/inactive.png" alt="inactive"/></p> 
          </div>
          </div>
        </div>  
         <br>
         <br>
          <nb-stepper orientation="horizontal" disableStepNavigation>
            <nb-step [label]="labelOne">
              <ng-template #labelOne>First step</ng-template>
    
              <div class="input-group col-lg-12 ">   
                <label>Name</label>
                <input type="text" nbInput fullWidth fieldSize="medium" placeholder="">
              </div>
              <div class="input-group col-lg-12 ">   
                <label>Aadhar No</label>
                <input type="text" nbInput fullWidth fieldSize="medium" placeholder="">
              </div> 
              <div class="input-group col-lg-12 ">   
                <label>PAN No</label>
                <input type="text" nbInput fullWidth fieldSize="medium" placeholder="">
              </div> 
              <div class="input-group col-lg-12 ">   
                <label>Mobile No</label>
                <input type="text" nbInput fullWidth fieldSize="medium" placeholder="">
              </div> 
              <button class="prev-button" nbButton disabled nbStepperNext>prev</button>
              <button class="next-button" nbButton nbStepperNext>next</button>
            </nb-step>
            <nb-step [label]="labelTwo">
              <ng-template #labelTwo>Second step</ng-template>
            
              <div class="input-group col-lg-12 ">
                <label>E-mail</label>
                  <input type="text" nbInput fullWidth fieldSize="medium" placeholder="">
                </div> 
                <div class="input-group col-lg-12 ">   
                  <label>Date of Birth</label>
                  <input type="text" nbInput fullWidth fieldSize="medium" placeholder="">
                </div> 
                <div class="input-group col-lg-12 ">   
                  <label>Gender</label>
                  <input type="text" nbInput fullWidth fieldSize="medium" placeholder="">
                </div> 
                <div class="input-group col-lg-12 ">   
                  <label>A/c No</label>
                  <input type="text" nbInput fullWidth fieldSize="medium" placeholder="">
                </div> 
              <button class="prev-button" nbButton nbStepperPrevious>prev</button>
              <button class="next-button" nbButton nbStepperNext>next</button>
            </nb-step>
            <nb-step label="Third step">
              
              <div class="input-group col-lg-12 ">
                <label>Address</label>
                <textarea rows="5" nbInput fullWidth shape="round"  placeholder="Text Area"></textarea>
                </div>
                <br>
                <div class="input-group col-lg-12 "> 
                  <input nbInput placeholder="Opening Date" type="date">
                
                </div>
              <button class="prev-button" nbButton nbStepperPrevious>prev</button>
              <button class="next-button" nbButton nbStepperNext>next</button>
            </nb-step>
            <nb-step [label]="labelFour">
              <ng-template #labelFour>Fourth step</ng-template>
              
              <div class="form-group col-lg-12" > 
                <label style="float: left;">Product Id</label>
              <select selected="1" class=" form-control" >
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
              </select>
              </div>
              <div class="from-group col-lg-12"> 
                <label style="float: left;">Product Name</label>
              <select selected="1" class="form-control ">
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
              </select>
              </div>
              <button class="prev-button" nbButton nbStepperPrevious>prev</button>
              <button class="next-button" nbButton disabled nbStepperNext>next</button>
            </nb-step>
          </nb-stepper>
        </nb-card-body>
      </nb-card>
      
      <div class="col-md-2 col-sm-2 col-xxxl-2">
        <nb-card size="medium">
          <nb-card-body>
            <p>Requried Info on the right</p>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
    
        
          
        
        
    