<nb-card>
    <nb-card-body class="example-items-col">
        <form>
          
            <h6>Localization Settings</h6>
            <br>
            <div class="row">
              <div class="col">  
                    <label>Country</label>
                    <select type="text" class="form-control w-50">
                        <option>select</option>
                        <option>India</option>
                        <option>Paskistan</option>
                    </select> 
              </div>        
              <div class="col">
                    <label>Currency</label>  
                        <select class="form-control w-50">
                            <option>select</option>
                            <option>dollar</option>
                            <option>Yen</option>
                    </select>         
              </div>
            </div>  

            <button nbButton class="float-right">Submit</button>
          </form>
    </nb-card-body>
</nb-card>
